<h3>予定一覧</h3>

<p><%= link_to "新規追加", :new_user %></p>

<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.start_date %></td>
        <td><%= user.end_date %></td>
        <td><%= user.all_date %></td>
        <td><%= user.updated_at.to_s(:datetime_jp) %></td>
        <td>
        <%= link_to "詳細", user %>
        </td>
        <td>
          <%= link_to "編集", [:edit, user] %>
        </td>
        <td>
          <%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
