<h3>予定の新規追加</h3>

<%= render "shared/error", obj: @user %>

<%= form_with model: @user do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :start_date ,"開始日" %></th>
      <td><%= f.datetime_field :start_date %></td>
    </tr>

    <tr>
      <th><%= f.label :end_date ,"終了日" %></th>
      <td><%= f.datetime_field :end_date %></td>
    </tr>

    <tr>
      <th><%= f.label :all_date ,"終日の場合はチェックを入れます" %></th>
      <td><%= f.check_box :all_date , {}, "ture", "false" %></td>
    </tr>

    <tr>
      <th><%= f.label :memo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "保存"%></li>
      <li><%= link_to "キャンセル", :users %></li>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>