<div>
  <ul>
    <li><%= link_to "一覧に戻る", :users %></li>
  </ul>
</div>

<h3><%= @user.title %></h3>

<table>
  <tr>
    <th>開始日</th>
    <td><%= @user.start_date %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @user.end_date %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @user.all_date %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @user.memo %></td>
  </tr>
</table>

