<%= stylesheet_link_tag 'common', :media => "all" %>
<%= stylesheet_link_tag 'new', :media => "all" %>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <h3>予定の新規追加</h3>
  <%= render "shared/error", obj: @post %>
  <div class="white">
    <%= form_with model: @post,url: posts_path do |f| %>
    <table>
      <tr>
        <th><%= f.label :title ,"タイトル" %></th>
        <td><%= f.text_field :title ,placeholder: "タイトル" %></td>
      </tr>
      
      <tr>
        <th><%= f.label :start_date ,"開始日" %></th>
        <td><%= f.datetime_field :start_date %></td>
      </tr>
      <tr>
        <th><%= f.label :end_date ,"終了日" %></th>
        <td><%= f.datetime_field :end_date %></td>
      </tr>
      </tr>

      <tr>
        <td class="no-block"><%= f.check_box :all_date , {}, "ture", "false" %></td>
        <th class="no-block"><%= f.label :all_date ,"終日の場合はチェックを入れます" %></th>
      </tr>

      <tr>
        <th><%= f.label :memo ,"スケジュールメモ" %></th>
        <td><%= f.text_area :memo ,placeholder: "メモを入力する" %></td>
      </tr>
    </table>

    <div>
      <ul class="left">
        <li><%= link_to "キャンセル", posts_path, class: "btn-white" %></li>
        <li><%= f.submit "保存", class: "btn" %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>