<%= stylesheet_link_tag 'common', :media => "all" %>
<%= stylesheet_link_tag 'show', :media => "all" %>

<div class="container">
<div class="wid">

<div>
  <ul>
    <li><%= link_to "← 一覧に戻る", posts_path %></li>
  </ul>
</div>

<div class="between center">
<h3><%= @post.title %></h3>
<%= button_to "編集", edit_post_path(@post), method: :get, class: "btn-blue" %>
</div>

<div class="white">
<table>
  <tr>
    <th>開始日</th>
    <td><%= @post.start_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.end_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @post.all_date ? '○' : '' %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>
</div>

</div>
</div>
